@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}


.btn-fb{
  background-color: #3b5998;
}

.h-72{
  height: 18rem;
}

.h-80{
  height: 20rem;
}

.h-88{
  height: 22rem;
}

.h-96{
  height: 24rem;
}

.w-14{
  width: 3.5rem;
}

.h-14{
  height: 3.5rem;
}

.h-36	{
  height: 9rem;
}

.w-36	{
  width: 9rem;
}


.top-app-bar-md{
  top: 8.4rem;
}

.top-app-bar-sm{
  top: 6.9rem;
}

.top-app-bar-mdd{
  top: 8.0rem;
}

.top-story{
  top: 8.9rem;
}


button:focus {
  outline:0;
}

.app-color{
  background-color : #2962ff;
}

.app-color:hover{
  background-color :#265bed;
}

.app-font-color{
  color : #2962ff;
}

.app-border-bottom{
  border-color:  #2962ff;
}

.bg-accent-blue-500{
  background-color: #bbdefb;
}


.app-logo{
  font-size: 1.6rem;
}
/* XS */
@media (min-width: 0px) {
  .app-logo{
    font-size: 1.2rem;
  }

  /* .app-color{
    background-color : brown;
  } */

  
  .register-sm-txt{
    display: block; 
  }
  
  .register-lg-txt{
    display: none;
  }
  
  .app-banner-container{
    flex-direction: column;
  }
  .top-story-data{
    top: 6.9rem;
  }
  
}
/* SMALL */
@media (min-width: 640px) {
  .app-logo{
    font-size: 1.6rem;
  }

  /* .app-color{
    background-color : green;
  } */

  .register-sm-txt{
    display: block; 
  }

  .register-lg-txt{
    display: none;
  }

  

}
/* MEDIUM */
@media (min-width: 768px) {
  .app-logo{
    font-size: 1.6rem;
  }
  
  /* .app-color{
    background-color : yellow;
  } */
  
  .register-sm-txt{
    display: block; 
  }

  .register-lg-txt{
    display: none;
  }

  .app-banner-container{
    flex-direction: column-reverse;
  }

  .top-story-data{
    top: 7.9rem;
  }

  /* #snackbar{
    min-width: 50%;
  } */
}
/* LARGE */
@media (min-width: 900px) {
  .app-logo{
    font-size: 1.6rem;
  }

  /* .app-color{
    background-color : teal;
  } */

  .register-sm-txt{
    display: block; 
  }

  .register-lg-txt{
    display: none;
  }
}
/* LARGE */
@media (min-width: 1024px) {
  .app-logo{
    font-size: 1.6rem;
  }

  /* .app-color{
    background-color : purple;
  } */

  .register-sm-txt{
    display: none; 
  }

  .register-lg-txt{
    display: block;
  }
}

/* XLARGE */
@media (min-width: 1280px) {
  .app-logo{
    font-size: 1.6rem;
  }

  /* .app-color{
    background-color : #2962ff;
  } */

  .register-sm-txt{
    display: none; 
  }

  .register-lg-txt{
    display: block;
  }
  
}


.font-sen{
  font-family: 'Lato', sans-serif;
}

.text-app-banner{
  font-size: 3rem;
}

.input-add-title{
  font-family: 'Roboto', sans-serif;
  resize: none;
}

.input-add-p{
  resize: none;
}

.border-radius-card {
  border-radius: 1.4rem;
}

.progress-trans{
  transition : width 5s ease;
  -webkit-transition : width 5s ease;
  -moz-transition : width 5s ease;
  -o-transition : width 5s ease;
  transition : width 5s ease;
}



/* Snack Start */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 450px;
   /* Set a default minimum width */
  /* margin: 0 auto; */
   /* Divide value of min-width by 2 */
  background-color: transparent; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 1rem; /* Rounded borders */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  transform: translateX(-50%);
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Snack End */


.react-datepicker-wrapper{
  width: 100%;
}

.app-bar-dropdown-right{
  right: -16px;
  top: 52px;
}



/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  cursor: pointer;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}