<html>
<style>
  .bg-green-500{
    background-color: green;
  }
</style>
<body>
  <div style="display: flex;">
    <div style="width: 3rem;height: 3rem; background-color: green;"></div>
    <div style="width: 3rem;height: 3rem; background-color: yellow;"></div>
    <div style="width: 3rem;height: 3rem; background-color: blue; margin-left: auto;"></div>
    <div style="width: 3rem;height: 3rem; background-color: violet;"></div>
  </div>
  
</body>
</html>