<html>
<style>
  .bg-green-500{
    background-color: green;
  }
</style>
<body>
  <div>
    <h3>Hello, <%=userTemplate.name%></h3>
    <p>Welcome to Hi-Story, we have generatedd you password. 
      To visit website. Please click on the following link
    </p>
    <a href="https://hi-story-beta.herokuapp.com/login">Login to Hi-Story</a>
    <p>Following are your credentials :-</p>
    <ul>
      <li>Username: <%=userTemplate.email%></li>
      <li>Password: <%=userTemplate.pass%></li>
    </ul>
  </div>
</body>
</html>